type: workflow
name: cidr_recon
alias: cidrrec
description: Local network recon
tags: [recon, cidr, network]
input_types:
  - cidr_range
  - ip
default_inputs:
  - 127.0.0.1/24      # localhost
  - 192.168.0.0/24    # local
  - 192.168.1.0/24    # local
  - 10.0.0.0/24       # standard subnet
  - 172.16.0.0/24     # private network
  - 172.17.0.0/16     # docker

tasks:
  mapcidr:
    description: Find CIDR range IPs

  fping:
    description: Check for alive IPs
    targets_: ip.ip

  nmap:
    description: Scan alive IPs' ports
    targets_:
    - type: ip
      field: ip
      condition: item.alive

  httpx:
    description: Probe HTTP services on open ports
    tech_detect: True
    targets_:
    - type: port
      field: '{ip}:{port}'
