type: workflow
name: cidr_recon
alias: cidrrec
description: Local network recon
long_description: |
  Discovers and analyzes hosts within a CIDR range or local network through ARP / ICMP scanning.
  Maps IP addresses and identifies live hosts.
  Useful for local network security assessments and penetration testing.
tags: [recon, cidr, network]
input_types:
  - cidr_range
  - ip
  - slug
default_inputs: [discover]
# default_inputs:
#   - 127.0.0.1/24      # localhost
#   - 192.168.0.0/24    # local
#   - 192.168.1.0/24    # local
#   - 10.0.0.0/24       # standard subnet
#   - 172.16.0.0/24     # private network
#   - 172.16.0.0/16     # docker
#   - 172.17.0.1/16     # docker #2
#   - 172.18.0.1/16     # docker #3

tasks:
    arpscan:
      description: Discover hosts with ARP requests

    fping:
      description: Discover hosts with ICMP requests
      targets_:
      - type: ip
        field: ip
        condition: ip.alive and 'discover' in targets
      - type: target
        field: name
        condition: target.name not in ['discover']

    nmap:
      description: Discover hosts and ports with TCP SYN scan
      tcp_syn_stealth: True
      targets_:
      - type: ip
        field: ip
        condition: ip.alive and 'discover' in targets
      - type: target
        field: name
        condition: target.name not in ['discover']
