type: workflow
name: code_scan
alias: codescan
description: Code vulnerability scan and secret hunt
tags: [vuln, secret, code]
input_types:
  - path
  - url
  - string

tasks:
  _group:
    grype:
      description: Find vulnerabilities in dependencies
      if: not opts.mode or opts.mode in ['filesystem', 'git']
    trivy:
      description: Find vulnerabilities in codebase
      if: not opts.mode or opts.mode in ['filesystem', 'git']
    gitleaks:
      description: Scan codebase for leaks
      if: not opts.mode or opts.mode in ['filesystem', 'git']
    trufflehog:
      description: Scan codebase for secrets
