type: workflow
name: domain_recon
alias: domrec
description: Basic domain recon (WHOIS, SSL Certificates, WAF detection...)
input_types:
- host

options:
  passive:
    is_flag: True
    help: Passive only (no requests to targets)
    default: False
    short: ps

tasks:
  _group:
    jswhois:
      description: Get WHOIS information

    httpx:
      description: Run HTTP probe on domain
      tech_detect: True
      tls_grab: True
      if: not opts.passive

    getasn:
      description: Get ASN from domain name

    testssl:
      description: Test SSL/TLS security
      server_defaults: True
      if: not opts.passive

    dnsx:
      description: Resolve DNS records

  wafw00f:
    description: Check WAF
    targets_:
      - url.url
    if: not opts.passive
