type: workflow
name: subdomain_recon
alias: subrec
description: Subdomain discovery
tags: [recon, dns, takeovers]
input_types:
  - host

options:
  passive:
    is_flag: True
    help: Passive only (no requests to targets)
    default: False
    short: ps

  brute_http:
    is_flag: True
    help: Bruteforce subdomains with HTTP Host header (ffuf)
    short: bhttp
    default: False

  brute_dns:
    is_flag: True
    help: Bruteforce subdomains with DNS queries (dnsx)
    short: bdns
    default: False

  test_ssl:
    is_flag: True
    help: Test SSL/TLS security on subdomains
    short: tssl
    default: False

  hunt_secrets:
    is_flag: True
    help: Hunt secrets in HTTP responses (trufflehog)
    default: False
    short: hs

tasks:
  _group/1:
    subfinder:
      description: List subdomains (passive)

    gau:
      description: List subdomains (passive)
      subs: True

    dnsx:
      description: Bruteforce subdomains (DNS)
      subdomains_only: True
      wordlist: combined_subdomains
      if: opts.brute_dns and not opts.passive

    httpx:
      description: Find subdomains through TLS certificates
      tech_detect: True
      tls_grab: True
      targets_:
      - target.name
      if: not opts.passive

  _group/2:
    testssl:
      description: Test SSL/TLS security on subdomains
      server_defaults: True
      targets_:
      - type: subdomain
        field: host
        condition: subdomain.verified
      if: opts.test_ssl

    dnsx/probe:
      description: Probe DNS records on subdomains
      subdomains_only: True
      targets_:
      - type: subdomain
        field: host
        condition: subdomain.verified

    nuclei:
      description: Check for subdomain takeovers
      targets_:
      - target.name
      - subdomain.host
      tags: [takeover]
      if: not opts.passive

    ffuf:
      description: Bruteforce subdomains (Host header)
      fuzz_host_header: True
      auto_calibration: True
      wordlist: combined_subdomains
      stop_on_error: True
      targets_:
      - type: url
        field: url
      if: opts.brute_http and not opts.passive

    httpx:
      description: Run HTTP probes on subdomains
      tech_detect: True
      targets_:
      - target.name
      - subdomain.host
      if: not opts.passive

  trufflehog:
    description: Find secrets in HTTP responses
    targets_:
    - type: url
      field: stored_response_path
      condition: item.stored_response_path != ''
    if: opts.hunt_secrets and not opts.passive
