type: workflow
name: url_crawl
alias: urlcrawl
description: URL crawl (fast)
tags: [http, crawl]
input_types:
  - url

options:
  passive:
    is_flag: True
    help: Passive only (no requests to targets)
    default: False
    short: ps

  crawlers:
    type: list
    help: "Crawlers to use (comma-separated) (passive: xurlfind3r, urlfinder, gau; active: katana, gospider, cariddi)"
    default: ['xurlfind3r', 'katana', 'gospider']
    internal: True

  hunt_secrets:
    is_flag: True
    help: Hunt secrets in HTTP responses (trufflehog)
    default: False
    short: hs

  hunt_js_secrets:
    is_flag: True
    help: Hunt secrets in JavaScript files (jsleak)
    default: False
    short: hjs

default_options:
  match_codes: 200,204,301,302,307,401,403,405,500

tasks:
  _group/crawl:
    xurlfind3r:
      description: Crawl URLs from passive sources
      if: "'xurlfind3r' in opts.crawlers"

    urlfinder:
      description: Crawl URLs from passive sources
      if: "'urlfinder' in opts.crawlers"

    gau:
      description: Crawl URLs from passive sources
      if: "'gau' in opts.crawlers"

    katana:
      description: Crawl URLs
      if: "'katana' in opts.crawlers and not opts.passive"

    gospider:
      description: Crawl URLs
      if: "'gospider' in opts.crawlers and not opts.passive"

    cariddi:
      description: Hunt URLs patterns
      info: True
      secrets: True
      errors: True
      juicy_extensions: 1
      juicy_endpoints: True
      if: "'cariddi' in opts.crawlers and not opts.passive"

  httpx:
    description: Run HTTP probes on passive URLs
    tech_detect: True
    targets_:
    - target.name
    - type: url
      field: url
      condition: item.status_code == 0
    if: not opts.passive

  trufflehog:
    description: Find secrets in HTTP responses
    targets_:
    - type: url
      field: stored_response_path
      condition: item.stored_response_path != ''
    if: opts.hunt_secrets and not opts.passive

  jsleak:
    description: Hunt secrets in JavaScript files
    secrets: True
    status_check: True
    targets_:
    - type: url
      field: url
      condition: "item.url.endswith('.js') or 'javascript' in item.content_type.lower()"
    if: opts.hunt_js_secrets and not opts.passive
