type: workflow
name: url_fuzz
alias: urlfuzz
description: URL fuzz (slow)
tags: [http, fuzz]
input_types:
  - url

default_options:
  auto_calibration: true
  follow_redirect: true

options:
  fuzzers:
    type: list
    required: True
    help: "Fuzzers to use (comma-separated) (dirsearch, feroxbuster, ffuf)"
    default: ['ffuf']

  hunt_secrets:
    is_flag: True
    help: Hunt secrets in HTTP responses (trufflehog)
    default: False
    short: hp

tasks:
  httpx/1:
    description: Run HTTP probes on URLs
    tech_detect: True

  _group/fuzz:
    dirsearch:
      description: Fuzz URLs
      if: "'dirsearch' in opts.fuzzers"

    feroxbuster:
      description: Fuzz URLs
      if: "'feroxbuster' in opts.fuzzers"

    ffuf:
      description: Fuzz URLs
      if: "'ffuf' in opts.fuzzers"
      targets_:
        - type: target
          field: '{name}/FUZZ'

  httpx/2:
    description: Run HTTP probes on crawled URLs
    tech_detect: True
    screenshot: True
    targets_:
      type: url
      field: url
      condition: url.status_code != 0 or opts.screenshot or opts.headless
    # enrich: true  # TODO: add enrich capabilities

  trufflehog:
    description: Find secrets in HTTP responses
    targets_:
      - type: url
        field: stored_response_path
        condition: item.stored_response_path != ''
    if: opts.hunt_secrets
