type: workflow
name: url_secrets_hunt
alias: ush
description: Hunt secrets in URLs
input_types:
- url

tasks:
  httpx:
    description: Run HTTP probes on URLs
    tech_detect: True

  trufflehog:
    description: Find secrets in HTTP responses
    targets_:
    - type: url
      field: stored_response_path
      condition: item.stored_response_path != ''
