type: workflow
name: url_dirsearch
alias: dirfind
description: URL directory search
tags: [http, dir]
input_types:
  - url

options:
  hunt_secrets:
    is_flag: True
    help: Hunt secrets in HTTP responses (trufflehog)
    default: False
    short: hs

  hunt_files:
    is_flag: True
    help: Hunt files in HTTP directories
    default: False
    short: cf

  hunt_dirs:
    is_flag: True
    help: Hunt HTTP directories (ffuf)
    default: False
    short: fd

tasks:
  httpx:
    description: Run HTTP probes on URLs
    tech_detect: True

  ffuf:
    description: Search for HTTP directories
    auto_calibration: True
    wordlist: directory_list_small
    match_regex: '<title>Index of'
    targets_:
      - type: target
        field: '{name}/FUZZ'
    if: opts.hunt_dirs

  katana:
    description: Crawl files from HTTP directories
    targets_:
      - type: url
        field: url
        condition: item.is_directory
    if: opts.hunt_files

  trufflehog:
    description: Find secrets in HTTP responses
    targets_:
      - type: url
        field: stored_response_path
        condition: item.stored_response_path != ''
    if: opts.hunt_files
