type: scan
name: domain
description: Domain scan
profile: default
input_types:
  - host
workflows:
  subdomain_recon:
  host_recon:
    targets_:
    - type: target
      field: name
      condition: target.type == 'host'
    - subdomain.host
  url_crawl:
    targets_:
    - url.url
  file_secrets_hunt:
    if: opts.store_responses
    targets_:
    - type: url
      field: stored_response_path
      condition: item.stored_response_path
  url_vuln:
    targets_:
    - url.url
