type: scan
name: domain
description: Domain scan
profile: default
input_types:
  - host

workflows:
  domain_recon:
  subdomain_recon:
  host_recon:
    targets_:
    - type: target
      field: name
      condition: target.type == 'host'
    - subdomain.host
  url_crawl:
    targets_:
    - url.url
  url_vuln:
    targets_:
    - url.url
