name: publish

on:
  push:
    tags:
      - v*.*.*

jobs:
  publish-pypi:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
    - uses: actions/checkout@v3

    - uses: ./.github/actions/install
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install build addon
      run: secator install addons build

    - name: Build PyPI package
      run: secator u build pypi

    - name: Publish PyPI package
      run: secator u publish pypi
      env:
        HATCH_INDEX_AUTH: ${{ secrets.PYPI_TOKEN }}

