# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
    - uses: ./.github/actions/install
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run unit tests
      run: |
        secator test unit

  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
    - uses: ./.github/actions/install
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run lint tests
      run: |
        secator test lint

  integration:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11"]
        test_type: ['tasks']
        # test_type: ['tasks', 'workflows', 'scans']
    steps:
    - uses: ./.github/actions/install
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup docker compose
      uses: KengoTODA/actions-setup-docker-compose@v1
      with:
        version: '1.29.2'

    - name: Install dependencies
      run: |
        ./scripts/install_go.sh
        ./scripts/install_ruby.sh
        ./scripts/install_commands.sh

    - name: Add GOBIN to PATH
      run: echo "${HOME}/.local/bin" >> $GITHUB_PATH

    - name: Add GOPATH to PATH
      run: echo "${HOME}/go/bin" >> $GITHUB_PATH

    - name: Run integration tests (${{ matrix.test_type }})
      run: |
        secator test integration --test tests.integration.test_${{ matrix.test_type }}